[Desktop Entry]
Keywords=Script;Bash;Config;
Exec=notify-send --hint=int:transient:1 -t 5 -i debian $(bash -c 'a=$(whoami);echo -n Welcome ${a^}')
GenericName=Startup Greeting
Comment=Startup Greeting
Name=Greeting
StartupNotify=true
Terminal=false
Type=Script

